{% extends 'base.html' %}
{% load i18n %}
{% block title %}{{ title }} | {% trans 'Learning management system' %}{% endblock title %}
{% load static %}

{% block content %}

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">{% trans 'Home' %}</li>
    </ol>
</nav>

{% if request.user.is_superuser %}
<div class="manage-wrap">
    <a class="btn btn-primary" href="{% url 'add_item' %}"><i class="fas fa-plus"></i>{% trans 'Add New Post' %}</a>
</div>
{% endif %}

{% include 'snippets/messages.html' %}

<div>
    <h2 class="news-events-title">{% trans 'News' %} &amp; {% trans 'Events' %}</h2>
</div>

<div class="container-fluid">
    {% if items %}
    <div class="row">
        {% for item in items %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-header-ne d-flex align-items-center">
                    {% if item.posted_by.institution %}
                    <img src="{{ item.posted_by.institution.logo.url|default:'#' }}" alt="{{ item.posted_by.institution.name }}" class="college-logo">
                    {% endif %}
                    <div>
                        <div>{{ item.posted_by.institution.name|default:'La Concepcion Collegge' }}</div>
                        <div class="d-flex align-items-center mt-2">
                            <span class="{% if item.posted_as == 'News' %}news{% else %}events{% endif %}">
                                {% if item.posted_as == 'News' %}{% trans 'News' %}{% else %}{% trans 'Events' %}{% endif %}
                            </span>
                        </div>
                    </div>
                    {% if request.user.is_superuser %}
                    <div class="dropstart">
                        <button class="btn btn-sm" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-ellipsis-v text-white"></i>
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{% url 'edit_post' pk=item.id %}"><i
                                    class="unstyled me-2 fas fa-pencil-alt"></i>{% trans 'Edit' %}</a>
                            <a class="dropdown-item" href="{% url 'delete_post' pk=item.id %}"><i
                                    class="unstyled me-2 fas fa-trash-alt"></i>{% trans 'Delete' %}</a>
                        </div>
                    </div>
                    {% endif %}
                </div>

                <div class="card-body">
                    <h3 class="news-item-title">{{ item.title|title }}</h3>
                    <div class="news-content">{{ item.summary }}</div>
                    <div class="news-timestamp">
                        <i class="fa fa-calendar small unstyled me-1"></i>
                        {{ item.updated_date|timesince }} {% trans 'ago' %}
                    </div>
                </div>

            </div>
        </div>
        {% endfor %}
    </div>

    {% else %}
    <h4 class="text-center mt-5 py-5 text-muted">
        <i class="fa-regular fa-folder-open me-2"></i>{% trans 'School news and events will appear here.' %}
    </h4>

    {% endif %}

</div>

{% endblock content %}